<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>details</key>
		<array>
			<dict>
				<key>description</key>
				<string>description_group</string>
				<key>iconName</key>
				<string>pic_more_icon_question</string>
				<key>item</key>
				<string>常见问题解答</string>
				<key>indicate</key>
				<true/>
			</dict>
			<dict>
				<key>iconName</key>
				<string>pic_more_icon_share</string>
				<key>description</key>
				<string>description_group</string>
				<key>item</key>
				<string>分享此软件</string>
				<key>indicate</key>
				<false/>
			</dict>
			<dict>
				<key>description</key>
				<string>description_group</string>
				<key>iconName</key>
				<string>pic_more_icon_cache</string>
				<key>item</key>
				<string>清除缓存</string>
				<key>indicate</key>
				<false/>
			</dict>
			<dict>
				<key>description</key>
				<string>description_group</string>
				<key>item</key>
				<string>设置密码</string>
				<key>iconName</key>
				<string>pic_more_icon_password</string>
				<key>indicate</key>
				<false/>
			</dict>
			<dict>
				<key>description</key>
				<string>description_group</string>
				<key>item</key>
				<string>检查软件版本</string>
				<key>iconName</key>
				<string>pic_more_icon_version</string>
				<key>indicate</key>
				<string>NO</string>
			</dict>
		</array>
		<key>name</key>
		<string>关于</string>
	</dict>
	<dict>
		<key>name</key>
		<string>已收藏</string>
		<key>details</key>
		<array>
			<dict>
				<key>description</key>
				<string>description_listView</string>
				<key>item</key>
				<string>图片</string>
				<key>iconName</key>
				<string>pic_more_icon_enshrie</string>
				<key>indicate</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>details</key>
		<array>
			<dict>
				<key>description</key>
				<string>description_group</string>
				<key>item</key>
				<string>app推荐</string>
			</dict>
		</array>
		<key>name</key>
		<string>app推荐</string>
	</dict>
</array>
</plist>
