<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>leftItem</key>
			<string>热门推荐</string>
			<key>rightItems</key>
			<array>
				<string>爱情</string>
				<string>变形金钢</string>
				<string>运动</string>
				<string>熊猫</string>
				<string>欧美男</string>
				<string>女生</string>
				<string>海滩</string>
				<string>小清新</string>
				<string>猫咪</string>
				<string>男神</string>
				<string>肌肉男</string>
				<string>翘臀</string>
				<string>车模</string>
				<string>短裤</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>美女</string>
			<key>rightItems</key>
			<array>
				<string>清纯</string>
				<string>文艺</string>
				<string>模特</string>
				<string>短发</string>
				<string>网红</string>
				<string>气质</string>
				<string>古典</string>
				<string>二次元</string>
				<string>软妹</string>
				<string>闺蜜</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>情感</string>
			<key>rightItems</key>
			<array>
				<string>早安</string>
				<string>晚安</string>
				<string>孤独</string>
				<string>励志</string>
				<string>治愈</string>
				<string>星座</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>美丽风景</string>
			<key>rightItems</key>
			<array>
				<string>动漫风景</string>
				<string>春天风景</string>
				<string>樱花</string>
				<string>夏天</string>
				<string>秋天</string>
				<string>冬天</string>
				<string>春天</string>
				<string>花朵</string>
				<string>旅行</string>
				<string>下雨</string>
				<string>星空</string>
				<string>阳光</string>
				<string>大海</string>
				<string>天空</string>
				<string>向日葵</string>
				<string>雪花</string>
				<string>植物</string>
				<string>建筑</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>美食</string>
			<key>rightItems</key>
			<array>
				<string>水果</string>
				<string>甜品</string>
				<string>蛋糕</string>
				<string>美酒</string>
				<string>咖啡</string>
				<string>糖果</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>名车特写</string>
			<key>rightItems</key>
			<array>
				<string>宝马</string>
				<string>奔驰</string>
				<string>路虎</string>
				<string>奥迪</string>
				<string>法拉利</string>
				<string>兰博基尼</string>
				<string>保时捷</string>
				<string>摩托车</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>萌宠</string>
			<key>rightItems</key>
			<array>
				<string>萌宠</string>
				<string>狗狗</string>
				<string>猫咪</string>
				<string>小孩</string>
				<string>宝宝</string>
				<string>兔子</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>体育运动</string>
			<key>rightItems</key>
			<array>
				<string>足球</string>
				<string>健身</string>
				<string>减肥</string>
				<string>贝克汉姆</string>
				<string>科比</string>
				<string>乔丹</string>
				<string>詹姆斯</string>
			</array>
		</dict>
		<dict>
			<key>leftItem</key>
			<string>明星</string>
			<key>rightItems</key>
			<array>
				<string>陈奕迅</string>
				<string>胡歌</string>
				<string>李易峰</string>
				<string>刘亦菲</string>
				<string>鹿晗</string>
				<string>彭于晏</string>
				<string>权志龙</string>
				<string>唐嫣</string>
				<string>吴亦凡</string>
				<string>薛之谦</string>
				<string>周杰伦</string>
				<string>Angelababy</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
